USE [Fashion_Website]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[Desciption] [nvarchar](max) NULL,
	[image] [varchar](1000) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[color_id] [int] IDENTITY(1,1) NOT NULL,
	[color] [nvarchar](20) NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[comment_date] [date] NOT NULL,
	[rating] [int] NOT NULL,
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC,
	[product_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[subject_name] [nvarchar](50) NOT NULL,
	[note] [nvarchar](max) NOT NULL,
	[feedback_date] [date] NOT NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Galery]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galery](
	[gallery_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[thumbnail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Galery] PRIMARY KEY CLUSTERED 
(
	[gallery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[color_id] [int] NOT NULL,
	[size_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[order_detailsid] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_OrderDetailsID] PRIMARY KEY CLUSTERED 
(
	[order_detailsid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
	[email] [nvarchar](50) NULL,
	[address] [nvarchar](200) NOT NULL,
	[order_date] [date] NOT NULL,
	[note] [nvarchar](100) NULL,
	[payment_id] [int] NOT NULL,
	[status] [int] NOT NULL,
	[total_money] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[supperlier_id] [int] NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[quantity_stock] [int] NULL,
	[quantity_sold] [int] NULL,
	[price] [decimal](10, 2) NOT NULL,
	[desciption] [nvarchar](max) NULL,
	[image] [varchar](255) NULL,
	[discount] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_detail]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_detail](
	[product_id] [int] NOT NULL,
	[color_id] [int] NOT NULL,
	[size_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product_Detail] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[color_id] ASC,
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[size_option] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supperlier]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supperlier](
	[supperlier_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](11) NOT NULL,
	[country] [nvarchar](50) NULL,
 CONSTRAINT [PK_Supperlier] PRIMARY KEY CLUSTERED 
(
	[supperlier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[pass_word] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[birth_day] [date] NULL,
	[image] [nvarchar](150) NULL,
	[phone_number] [nvarchar](11) NULL,
	[address] [nvarchar](200) NULL,
	[email] [nvarchar](50) NULL,
	[created_at] [date] NOT NULL,
	[verification_code] [varchar](10) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 3/26/2025 11:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[wallet_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[balance] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Wallets] PRIMARY KEY CLUSTERED 
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [Desciption], [image]) VALUES (1, N'POLO', N'Áo Polo từ thương hiệu 360 Boutique', N'images/index-1/categories/shape-1.png')
INSERT [dbo].[Category] ([category_id], [category_name], [Desciption], [image]) VALUES (3, N'Sơ Mi', N'Áo sơ mi từ thương hiệu 360 Boutique', N'images/index-1/categories/shape-2.png')
INSERT [dbo].[Category] ([category_id], [category_name], [Desciption], [image]) VALUES (4, N'Blazer', N'Áo Blazer từ thương hiệu 360 ', N'images/index-1/categories/shape-3.png')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([color_id], [color]) VALUES (1, N'Đen')
INSERT [dbo].[Colors] ([color_id], [color]) VALUES (2, N'Trắng')
INSERT [dbo].[Colors] ([color_id], [color]) VALUES (3, N'Nâu')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([product_id], [user_id], [content], [comment_date], [rating], [comment_id]) VALUES (16, 69, N'đẹp quá', CAST(N'2025-03-26' AS Date), 5, 26)
INSERT [dbo].[Comment] ([product_id], [user_id], [content], [comment_date], [rating], [comment_id]) VALUES (16, 69, N'xấu', CAST(N'2025-03-26' AS Date), 1, 27)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedBack] ON 

INSERT [dbo].[FeedBack] ([feedback_id], [user_id], [subject_name], [note], [feedback_date]) VALUES (13, 68, N'Áo ba lo đẹp nhất', N'Tôi muốn biết thêm về các mẫu áo ba lô mà cửa hàng của các bạn đang bán. Có thể cho tôi biết thêm thông tin chi tiết và giá của sản phẩm này không?', CAST(N'2025-03-25' AS Date))
INSERT [dbo].[FeedBack] ([feedback_id], [user_id], [subject_name], [note], [feedback_date]) VALUES (14, 69, N'Vấn đề về đơn hàng số 12345', N'Tôi gặp vấn đề với đơn hàng số 12345 mà tôi đã đặt tuần trước. Sản phẩm không đúng với mô tả và tôi muốn yêu cầu đổi trả. Vui lòng hướng dẫn tôi các bước tiếp theo.', CAST(N'2025-03-25' AS Date))
INSERT [dbo].[FeedBack] ([feedback_id], [user_id], [subject_name], [note], [feedback_date]) VALUES (15, 68, N'web đẹp', N'phát huy mạnh mẽ nhé', CAST(N'2025-03-26' AS Date))
SET IDENTITY_INSERT [dbo].[FeedBack] OFF
GO
SET IDENTITY_INSERT [dbo].[Galery] ON 

INSERT [dbo].[Galery] ([gallery_id], [product_id], [thumbnail]) VALUES (147, 16, N'images/products/somi/stdtk424-1.png')
INSERT [dbo].[Galery] ([gallery_id], [product_id], [thumbnail]) VALUES (148, 16, N'images/products/somi/stdtk424-12.png')
INSERT [dbo].[Galery] ([gallery_id], [product_id], [thumbnail]) VALUES (156, 17, N'images/products/somi/shdtk429-1.png')
GO
SET IDENTITY_INSERT [dbo].[Galery] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

INSERT [dbo].[Order_Details] ([order_id], [product_id], [color_id], [size_id], [price], [quantity], [order_detailsid]) VALUES (65, 19, 1, 3, CAST(499000.00 AS Decimal(10, 2)), 1, 53)
INSERT [dbo].[Order_Details] ([order_id], [product_id], [color_id], [size_id], [price], [quantity], [order_detailsid]) VALUES (67, 19, 1, 3, CAST(499000.00 AS Decimal(10, 2)), 1, 55)
INSERT [dbo].[Order_Details] ([order_id], [product_id], [color_id], [size_id], [price], [quantity], [order_detailsid]) VALUES (68, 19, 1, 3, CAST(499000.00 AS Decimal(10, 2)), 1, 56)
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_id], [user_id], [full_name], [phone_number], [email], [address], [order_date], [note], [payment_id], [status], [total_money]) VALUES (65, 68, N'Nguyễn Hoàng Anh', N'0969652156', N'nguyenhoanganh712004qp@gmail.com', N'nghe an', CAST(N'2025-03-25' AS Date), N'áo đẹp', 1, 1, CAST(499000.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([Order_id], [user_id], [full_name], [phone_number], [email], [address], [order_date], [note], [payment_id], [status], [total_money]) VALUES (67, 68, N'Nguyễn Hoàng Anh', N'0969652156', N'nguyenhoanganh712004qp@gmail.com', N'nghe an', CAST(N'2025-03-25' AS Date), N'được', 2, 2, CAST(499000.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([Order_id], [user_id], [full_name], [phone_number], [email], [address], [order_date], [note], [payment_id], [status], [total_money]) VALUES (68, 68, N'Nguyễn Hoàng Anh', N'0969652156', N'nguyenhoanganh712004qp@gmail.com', N'nghe an', CAST(N'2025-03-26' AS Date), N'được', 2, 0, CAST(499000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [payment_name]) VALUES (1, N'PAYMENT BY BALANCE')
INSERT [dbo].[Payment] ([payment_id], [payment_name]) VALUES (2, N'PAYMENT ON DELIVERY')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [category_id], [supperlier_id], [product_name], [quantity_stock], [quantity_sold], [price], [desciption], [image], [discount]) VALUES (16, 3, 1, N'Áo sơ mi nam STDTK424', 96, 0, CAST(429000.00 AS Decimal(10, 2)), N'Chất liệu : Thô cotton*Form : Regular*Đặc tính : Trắng, Đen, Be*Màu : M-XL', N'images/products/somi/stdtk424-1.png', 5)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product_detail] ([product_id], [color_id], [size_id], [quantity]) VALUES (16, 1, 1, 5)
INSERT [dbo].[Product_detail] ([product_id], [color_id], [size_id], [quantity]) VALUES (16, 1, 2, 5)
INSERT [dbo].[Product_detail] ([product_id], [color_id], [size_id], [quantity]) VALUES (16, 1, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([role_id], [name]) VALUES (2, N'User')
INSERT [dbo].[Roles] ([role_id], [name]) VALUES (3, N'Boss')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([size_id], [size_option]) VALUES (3, N'L')
INSERT [dbo].[Size] ([size_id], [size_option]) VALUES (2, N'M')
INSERT [dbo].[Size] ([size_id], [size_option]) VALUES (1, N'S')
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Supperlier] ON 

INSERT [dbo].[Supperlier] ([supperlier_id], [company_name], [phone_number], [country]) VALUES (1, N'360 Boutique', N'0999999999', N'Việt Nam')
SET IDENTITY_INSERT [dbo].[Supperlier] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [role_id], [user_name], [pass_word], [full_name], [birth_day], [image], [phone_number], [address], [email], [created_at], [verification_code]) VALUES (68, 3, N'boss01', N'c4ca4238a0b923820dcc509a6f75849b', N'Nguyễn Hoàng Anh', CAST(N'2004-01-07' AS Date), N'images/users/1742889335185_hoanganhdzai.jpeg', N'0969652156', N'nghe an', N'nguyenhoanganh712004qp@gmail.com', CAST(N'2025-03-25' AS Date), NULL)
INSERT [dbo].[Users] ([user_id], [role_id], [user_name], [pass_word], [full_name], [birth_day], [image], [phone_number], [address], [email], [created_at], [verification_code]) VALUES (69, 1, N'admin01', N'c4ca4238a0b923820dcc509a6f75849b', N'Nguyễn Văn A', CAST(N'2025-03-25' AS Date), N'images/users/1742910320158_user-2.jpg', N'0969652156', N'nghe an', N'1234yeyeyeye1234@gmail.com', CAST(N'2025-03-25' AS Date), N'VQFWFZ')
INSERT [dbo].[Users] ([user_id], [role_id], [user_name], [pass_word], [full_name], [birth_day], [image], [phone_number], [address], [email], [created_at], [verification_code]) VALUES (70, 1, N'admin02', N'c4ca4238a0b923820dcc509a6f75849b', N'Nguyễn Văn B', CAST(N'2025-03-25' AS Date), N'images/users/1742910352548_user-6.jpg', N'0969652156', N'nghe an', N'ha@gmail.com', CAST(N'2025-03-25' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

INSERT [dbo].[Wallets] ([wallet_id], [user_id], [balance]) VALUES (20, 68, CAST(9501000.00 AS Decimal(10, 2)))
INSERT [dbo].[Wallets] ([wallet_id], [user_id], [balance]) VALUES (21, 69, CAST(999999.00 AS Decimal(10, 2)))
INSERT [dbo].[Wallets] ([wallet_id], [user_id], [balance]) VALUES (22, 70, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Size__23461A6ABEE3209F]    Script Date: 3/26/2025 11:04:02 PM ******/
ALTER TABLE [dbo].[Size] ADD UNIQUE NONCLUSTERED 
(
	[size_option] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__7C9273C476DEC7EA]    Script Date: 3/26/2025 11:04:02 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((5)) FOR [discount]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Product]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_User]
GO
ALTER TABLE [dbo].[Galery]  WITH CHECK ADD  CONSTRAINT [FK_Galery_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Galery] CHECK CONSTRAINT [FK_Galery_Product]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_detail_Colors] FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([color_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_detail_Colors]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_detail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([Order_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_detail_Order]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_detail_Size] FOREIGN KEY([size_id])
REFERENCES [dbo].[Size] ([size_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_detail_Size]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Product_detail] FOREIGN KEY([product_id], [color_id], [size_id])
REFERENCES [dbo].[Product_detail] ([product_id], [color_id], [size_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Product_detail]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment] FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Payment]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supperlier] FOREIGN KEY([supperlier_id])
REFERENCES [dbo].[Supperlier] ([supperlier_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supperlier]
GO
ALTER TABLE [dbo].[Product_detail]  WITH CHECK ADD  CONSTRAINT [FK_Product_Detail_C] FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([color_id])
GO
ALTER TABLE [dbo].[Product_detail] CHECK CONSTRAINT [FK_Product_Detail_C]
GO
ALTER TABLE [dbo].[Product_detail]  WITH CHECK ADD  CONSTRAINT [FK_Product_Detail_P] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product_detail] CHECK CONSTRAINT [FK_Product_Detail_P]
GO
ALTER TABLE [dbo].[Product_detail]  WITH CHECK ADD  CONSTRAINT [FK_Product_Detail_S] FOREIGN KEY([size_id])
REFERENCES [dbo].[Size] ([size_id])
GO
ALTER TABLE [dbo].[Product_detail] CHECK CONSTRAINT [FK_Product_Detail_S]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_User]
GO
